PORT=3013
NATS_SERVERS="nats://localhost:4222"
DATABASE_URL="postgresql://postgres:123456@localhost:5432/ticketdb?schema=public"
SNOWFLAKE_MACHINE_ID=4
KAFKA_BROKERS="localhost:9092"
KAFKA_GROUP_ID="ticket-microservice"
